<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/banner.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="item1">
        <img
          src="../../assets/img/banner_1.jpg"
          width="100%"
          height="100%"
          style="object-fit: cover; object-position: 50% 50%"
        />
      </div>

      <div class="item2">
        <span>July 2025 Collection</span>
        <h1>Stay Cool, Stay Stylish – All Summer Long</h1>
        <p>
          Discover breezy skirts and effortless dresses made for sunny days and
          golden hours. From casual strolls to garden parties, find the perfect
          piece to shine with confidence this summer.
        </p>

        <div>
          <button>Shop Now <i class="fa-solid fa-arrow-right icon"></i></button>
        </div>
      </div>
    </div>

    <div class="banner-container">
      <div class="scrolling-banner">
        <div class="scroll-content">
          <div class="promo-item">Get 10% off your first order!</div>
          <div class="promo-item">Seasonal promotions happening now!</div>
          <div class="promo-item">Exclusive discounts available now!</div>
          <div class="promo-item">Free shipping over $50!</div>

          <div class="promo-item">Get 10% off your first order!</div>
          <div class="promo-item">Seasonal promotions happening now!</div>
          <div class="promo-item">Exclusive discounts available now!</div>
          <div class="promo-item">Free shipping over $50!</div>
        </div>
      </div>
    </div>
  </body>
</html>
