<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div
      class="footer__mobile"
      style="
        background-color: #000;
        padding: 50px 30px;
        display: grid;
        grid-template-columns: 7fr 5fr;
      "
    >
      <div style="display: flex; flex-direction: column">
        <p
          class="footer__name"
          style="
            text-transform: uppercase;
            font-size: 0.96rem;
            font-weight: 400;
            letter-spacing: 2;
            color: #fff;
            margin-bottom: 12px;
          "
        >
          Unlock Special Deals
        </p>
        <p
          class="footer__discribe"
          style="font-size: 32px; line-height: 42px; color: #fff"
        >
          Join Our Fashion Family for Special Offers
        </p>
      </div>

      <div
        style="display: flex; align-items: center; position: relative"
        class="footer__input"
      >
        <input
          class="footer__input-text"
          placeholder="Enter your email"
          style="
            height: 52px;
            padding: 12px 24px;
            width: 100%;
            border-radius: 99px;

            border: none;
            font-size: 1rem;
          "
        />
        <button
          class="footer__button-search"
          style="
            position: absolute;
            right: 0px;
            height: 52px;
            padding: 12px 24px;
            background-color: #b91c1b;
            border-radius: 99px;
            border: none;
            color: #fff;
            font-size: 1rem;
          "
        >
          Subscribe
        </button>
      </div>
    </div>

    <div class="footer__bottom"></div>
  </body>
</html>
