<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Swiper demo</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <link rel="stylesheet" href="../assets/css/ourProduct.css" />
  </head>

  <body>
    <div class="swiper mySwiper">
      <div
        style="
          margin-bottom: 2%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div style="display: flex; flex-direction: column">
          <p class="ourProduct__name-sum">OUR PRODUCT’S</p>
          <p class="ourProduct__describe-sum">New Arrivals</p>
        </div>
        <div style="position: relative; display: flex; right: 0">
          <div class="s-button-prev">
            <i class="fa-solid fa-arrow-left s-button-icon"></i>
          </div>
          <div
            class="swiper-pagination"
            style="
              display: block;
              margin: auto 0;
              position: initial;
              color: #999;
              font-size: medium;
            "
          ></div>
          <div class="s-button-next">
            <i class="fa-solid fa-arrow-right s-button-icon"></i>
          </div>
        </div>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div style="position: relative">
            <img src="../../assets/img/banner_20.jpg" alt="2" />
          </div>
          <div style="position: absolute; z-index: 3; top: 0">
            <p
              style="
                background-color: #dc2625;
                color: #fff;
                display: inline-block;
                padding: 3px 6px;
                font-size: 0.8rem;
                margin: 16px;
              "
            >
              SAVE 16%
            </p>
          </div>

          <div>
            <p class="ourProduct__name">Zeagoo</p>
            <h2 class="ourProduct__describe">
              Summer Dresses V Neck Sleeveless Casual
            </h2>
            <div class="ourProduct__evaluate">
              <div class="ourProduct__star">
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
              </div>
              <span class="ourProduct__evaluate-number">(512)</span>
            </div>

            <div style="margin-top: 16px; display: flex; align-items: center">
              <p class="ourProduct__core">$19.99</p>
              <p class="ourProduct__core-sale">$23.99</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="../../assets/img/banner_21.webp" alt="2" />
          <div>
            <p class="ourProduct__name">GORGLITTER</p>
            <h2 class="ourProduct__describe">
              Round Neck Swing Casual Summer Short Dress
            </h2>
            <div class="ourProduct__evaluate">
              <div class="ourProduct__star">
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
              </div>
              <span class="ourProduct__evaluate-number">(512)</span>
            </div>

            <div style="margin-top: 16px; display: flex; align-items: center">
              <p class="ourProduct__core">$18.99</p>
              <!-- <p class="ourProduct__core-sale">$23.99</p> -->
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="../../assets/img/banner_22.webp" alt="2" />
          <div>
            <p class="ourProduct__name">TIANZHU</p>
            <h2 class="ourProduct__describe">
              Ladies Dresses Square Neck Lightweight
            </h2>
            <div class="ourProduct__evaluate">
              <div class="ourProduct__star">
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
              </div>
              <span class="ourProduct__evaluate-number">(512)</span>
            </div>

            <div style="margin-top: 16px; display: flex; align-items: center">
              <p class="ourProduct__core">$19.99</p>
              <!-- <p class="ourProduct__core-sale">$23.99</p> -->
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="../../assets/img/banner_23.webp" alt="2" />
          <div>
            <p class="ourProduct__name">BebreezChic</p>
            <h2 class="ourProduct__describe">
              Loose Chiffon Short Dress Square Neck Polka
            </h2>
            <div class="ourProduct__evaluate">
              <div class="ourProduct__star">
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
              </div>
              <span class="ourProduct__evaluate-number">(512)</span>
            </div>

            <div style="margin-top: 16px; display: flex; align-items: center">
              <p class="ourProduct__core">$29.99</p>
              <!-- <p class="ourProduct__core-sale">$23.99</p> -->
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div style="position: relative">
            <img src="../../assets/img/banner_24.webp" alt="2" />
          </div>
          <div style="position: absolute; z-index: 3; top: 0">
            <p
              style="
                background-color: #dc2625;
                color: #fff;
                display: inline-block;
                padding: 3px 6px;
                font-size: 0.8rem;
                margin: 16px;
              "
            >
              SAVE 25%
            </p>
          </div>

          <div>
            <p class="ourProduct__name">Kranda</p>
            <h2 class="ourProduct__describe">
              Floral Swing Flowy Slit Beach Maxi Dress
            </h2>
            <div class="ourProduct__evaluate">
              <div class="ourProduct__star">
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
              </div>
              <span class="ourProduct__evaluate-number">(512)</span>
            </div>

            <div style="margin-top: 16px; display: flex; align-items: center">
              <p class="ourProduct__core">$40.63</p>
              <p class="ourProduct__core-sale">$54.69</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="../../assets/img/banner_25.webp" alt="2" />
          <div>
            <p class="ourProduct__name">Artykey</p>
            <h2 class="ourProduct__describe">
              Party Bohemian Festive A-Line Flowy Long Dress
            </h2>
            <div class="ourProduct__evaluate">
              <div class="ourProduct__star">
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
                <i class="fa-solid fa-star ourProduct__star-icon"></i>
              </div>
              <span class="ourProduct__evaluate-number">(512)</span>
            </div>

            <div style="margin-top: 12px; display: flex; align-items: center">
              <p class="ourProduct__core">$27.99</p>
              <!-- <p class="ourProduct__core-sale">$23.99</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var swiper = new Swiper(".mySwiper", {
        // slidesPerView: 1,
        spaceBetween: 1,
        pagination: {
          el: ".swiper-pagination",
          type: "fraction",
        },
        navigation: {
          nextEl: ".s-button-next",
          prevEl: ".s-button-prev",
        },
        breakpoints: {
          300: {
            slidesPerView: 2,
            spaceBetween: 10,
          },
          800: {
            slidesPerView: 4,
            spaceBetween: 10,
          },
        },
      });
    </script>
  </body>
</html>
