@import url("https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* scroll-behavior: smooth; */
  font-family: "Fahkwang", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.item1 {
  grid-area: 1 / 1 / 2 / 9;
}
.item2 {
  grid-area: 1 / 9 / 2 / 13;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}

.item2 p {
  font-size: 0.95rem;
  margin-bottom: 16px;
  font-weight: 300;
}

.item2 span {
  font-size: 1.1rem;
  margin-bottom: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.item2 h1 {
  margin-bottom: 16px;
  font-size: 2.5rem;
  font-weight: 500;
}

.item2 button {
  margin-top: 16px;
  font-size: 1.2rem;
  padding: 14px 32px;
  border-radius: 99px;
  border: none;
}

.icon {
  font-size: 1rem;
}

@keyframes scrollTextStart {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes scrollTextEnd {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

text:nth-child(1) {
  animation: scrollTextStart 10s infinite linear;
}
text:nth-child(2) {
  animation: scrollTextEnd 10s infinite linear;
}

.banner-container {
  width: 100%;
  background: #e8e8e8;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.scrolling-banner {
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  background: #e8e8e8;
}

.scroll-content {
  display: inline-flex;
  animation: continuousScroll 25s linear infinite;
  gap: 0;
  width: max-content;
}

.promo-item {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #333;
  font-weight: 500;
  font-size: 1.2rem;
  white-space: nowrap;
  padding: 0 2rem;
  flex-shrink: 0;
}

.separator {
  padding: 0 1rem;
  color: #666;
}

.promo-icon {
  font-size: 1.2rem;
}

.customer__grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;
  padding: 0 30px;
}

.customer__name {
  font-size: 1.2rem;
  margin-bottom: 16px;
  font-weight: 300;
}

.customer__question {
  margin-bottom: 16px;
  font-size: 2.3rem;
  font-weight: 500;
  text-align: center;
}

.customer__describe {
  font-size: 1.1rem;
  margin-bottom: 3%;
  font-weight: 300;
  text-align: center;
}

.customer__collecton {
  background-image: url("https://upload.beae.com/tasks/680069aeb47b8feb58224983/images/banner_2.jpg?v=1745467797776");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 4% 30px;
}

.customer__collecton-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 3vmax;
  margin: auto;
}

.customer__collecton-item1 {
  grid-area: 1 / 1 / 2 / 8;
  color: #fff;
  margin: auto;
}

.customer__collecton-item2 {
  grid-area: 1 / 8 / 2 / 13;
  color: #fff;
  margin: auto;
}

.customer__collecton-button {
  margin-top: 16px;
  font-size: 1.2rem;
  padding: 14px 8px;
  border-radius: 99px;
  border: none;
  width: 280px;
}

.customer__collecton-name {
  margin-bottom: 16px;
  font-size: 1.8rem;
  font-weight: 500;
}

.customer__collecton-describe {
  font-size: 1rem;
  font-weight: 300;
}

.gallery {
  display: flex;
  height: 70vh;
  gap: 10px;
  margin: 28px 30px 0;
}

.card {
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: flex 0.5s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card.active {
  flex: 1.6;
}

.card.active img {
  transform: scale(1.05);
}

.gallery__footer {
  position: absolute;
  bottom: 0;
  color: white;
  padding: 20px;
  transition: opacity 0.3s ease;
  z-index: 4;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery__overlay-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  z-index: 4;
}

.gallery__footer h3 {
  font-weight: 400;
}

.card.active .overlay {
  opacity: 1;
}

.card::before {
  content: "";
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.55) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
  display: flex;
  left: 0;
  transform: none;
  top: auto;
  z-index: 3;
}

.specials__grid-container {
  display: grid;
  grid-template-columns: 7fr 5fr;
  margin: 48px 30px 0;
  background-color: #f5f5f5;
}

.specials__name {
  font-size: 1rem;
  margin: 12px 0;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.specials__describe {
  margin-bottom: 16px;
  font-size: 2.7rem;
  font-weight: 500;
}

.specials__describe-sub {
  font-size: 0.9rem;
  font-weight: 500;
}

.specials__button {
  margin-top: 16px;
  font-size: 1.1rem;
  padding: 14px 8px;
  border-radius: 99px;
  border: none;
  width: 280px;
  background-color: #1f1f1f;
  color: #fff;
}

/* đồng hồ */
.countdown-container {
  display: flex;
  gap: 2px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 20px;
}

.time-box {
  background: transparent;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px 10px;
  min-width: 100px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.time-number {
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
  line-height: 1;
  margin-bottom: 10px;
  font-weight: 400;
}

.time-label {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.separator {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.finished {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  color: red;
  text-align: center;
  display: none;
  animation: pulse 1s infinite;
}

.celebrate__grid-container {
  display: grid;
  grid-template-columns: 5fr 7fr;
  margin: 5% 30px;
}

.celebrate__name {
  font-size: 0.9rem;
  margin: 12px 0;
  font-weight: 500;
  letter-spacing: 2px;
  color: #222;
  text-transform: uppercase;
}

.celebrate__name-sub {
  margin-bottom: 16px;
  font-size: 2rem;
  font-weight: 500;
}

.celebrate__describe {
  margin-bottom: 16px;
  font-size: 1.2rem;
  font-weight: 400;
}

.celebrate__grid-container-sub {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.celebrate__grid-item-sub1 {
  grid-area: 1 / 1 / 3 / 2;
  margin-right: 8px;
}

.celebrate__grid-item-sub2 {
  grid-area: 1 / 2 / 2 / 3;
  margin-bottom: 8px;
}

.celebrate__grid-item-sub3 {
  grid-area: 2 / 2 / 3 / 3;
}

.celebrate__img-main {
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.celebrate__img-sub {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.celebrate__grid-item1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.celebrate__sub-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 30px;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.celebrate__sub-img {
  width: 40px;
  height: 40px;
}

.celebrate__sub-name {
  margin-bottom: 16px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 12px;
  text-align: center;
}

.celebrate__sub-describe {
  margin-bottom: 16px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Tạo hiệu ứng cuộn liền mạch không ngắt quãng */
@keyframes continuousScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .item1 {
    grid-area: 1 / 1 / 2 / 13;
  }
  .item2 {
    grid-area: 2 / 1 / 3 / 13;
    padding: 24px 30px 30px 32px;
  }

  .item2 h1 {
    margin-bottom: 16px;
    font-size: 2rem;
    font-weight: 500;
  }

  .item2 span {
    font-size: 0.9rem;
  }

  .item2 p {
    font-size: 0.8rem;
  }

  .customer__grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: 1fr;
    gap: 30px;
    padding: 0 16px;
  }

  .customer__describe {
    margin: 0 16px;
  }

  .customer__collecton-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 3vmax;
    margin: auto;
  }

  .customer__collecton-item1 {
    grid-area: 1 / 1 / 2 / 13;
    color: #fff;
    text-align: center;
  }

  .customer__collecton-item2 {
    grid-area: 2 / 1 / 3 / 13;
    color: #fff;
    text-align: center;
  }

  .customer__collecton-name {
    margin-bottom: 16px;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .customer__collecton-describe {
    font-size: 0.9rem;
    font-weight: 300;
  }
  .card img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    gap: 10px;
    margin: 28px 16px 0;
  }

  .time-box {
    min-width: 60px;
    padding: 18px 8px;
  }

  .time-number {
    min-width: 50px;
    font-size: 24px;
  }

  .time-label {
    font-size: 12px;
    font-weight: 400;
  }

  .separator {
    font-size: 24px;
    /* margin: 0 5px; */
  }

  .specials__grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 48px 16px 0;
    background-color: #f5f5f5;
  }

  .specials__grid-item1 {
    grid-area: 2 / 1 / 3 / 13;
  }

  .specials__grid-item2 {
    grid-area: 1 / 1 / 2 / 13;
  }

  .customer__collecton {
    margin: 4% 16px;
  }

  .specials__describe {
    margin-bottom: 16px;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .specials__name {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .specials__grid-item1 {
    padding: 20px 16px 32px !important;
    margin: auto 0;
  }

  .celebrate__grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .celebrate__grid-item1 {
    grid-area: 1 / 1 / 2 / 3;
  }

  .celebrate__grid-item2 {
    grid-area: 2 / 1 / 3 / 3;
  }

  .celebrate__sub-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
